.navbar-container {
    background-color: #021520;

    .navbar-section {
        min-height: 4.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        .btn{
            @include btn();
        }

    }
}


@media (max-width: 768px) {
    .navbar-container {

        .navbar-section {
            width: 100%;
        }

        .navbar-logo {
            font-size: 12px;
        }
    }
}