$primary: #fbbf24; 

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn {
  background: $primary;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background: darken($primary, 10%);
  }
}