@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/reset";
@import "../styles/main";

@import "../styles/style-components/navbar";
@import "../styles/style-components/rules";

@import "../styles/pages/whobox";
@import "../styles/pages/undercover";
@import "../styles/pages/top10";
@import "../styles/pages/pyramid";

body {
  font-family: Arial, sans-serif;
  background-color: #010b13;
}

h1,p{
  color: white;
}